<!-- This file is written with standalone vuejs. later it will be written with a complete vue-cli-service for scalability and maintability  -->
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Theemmerdor</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="app"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./emmerdor.js"></script>
<script src="./prison.js"></script>
<script>
  const Navbar = {
    template: `
    <div id="navbar">
      <h1>Gérer le bot "The emmerdor" sur Discord</h1>
    </div>
    `
  }

  const App = {
    components: {
      navbar: Navbar,
      emmerdor: Emmerdor,
      prison: Prison
    },
    template: `
<div v-if="authenticated" class="root">
  <navbar/>
  <div id="tab-container">
    <div id="header">
      <div class="item" :class="{active: currentTab === 'emmerdor'}" @click="currentTab = 'emmerdor'">The emmerdor</div>
      <div class="separator">|</div>
      <div class="item" :class="{active: currentTab === 'prison'}" @click="currentTab = 'prison'">Prison</div>
    </div>
    <component :is="currentTab"/>
  </div>
</div>
<div v-else>
  <input v-model="password" autofocus></input>
</div>
`,
    watch: {
      async password() {
        const { data: authenticated } = await axios.post('/auth', { password: this.password })
        this.authenticated = authenticated
      }
    },
    data() {
      return {
        currentTab: 'emmerdor',
        authenticated: false,
        password: '',
      }
    }
  }

  new Vue({
    components: {App},
    template: '<app/>',
    el: '#app',
  })

</script>
</html>